## The following requirements were added by pip freeze:
arrow==0.12.1
aspy.yaml==1.1.1
astroid==1.6.4
backcall==0.1.0
cached-property==1.4.2
certifi==2018.4.16
cfgv==1.0.0
chardet==3.0.4
click==6.7
decorator==4.3.0
diff-match-patch==20121119
first==2.0.1
identify==1.0.16
idna==2.6
ipython==6.4.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.12.0
lazy-object-proxy==1.3.1
lxml==4.6.3
mccabe==0.6.1
nodeenv==1.3.0
parso==0.2.1
pexpect==4.5.0
pickleshare==0.7.4
pip-tools==2.0.2
pluggy==0.6.0
polib==1.1.0
pre-commit==1.8.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.3
Pygments==2.2.0
pylint==1.9.1
python-arango==4.1.0
python-dateutil==2.7.3
PyYAML==5.1
regex==2018.2.21
requests==2.20.0
simplegeneric==0.8.1
six==1.11.0
tox==3.0.0
traitlets==4.3.2
translate-toolkit==2.3.0
urllib3==1.24.2
virtualenv==16.0.0
wcwidth==0.1.7
wrapt==1.10.11
